@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

h1,
h2,
h3,
strong,
p {
  margin: 0;
  font-family: 'Inter';
  color: rgb(55, 53, 47);
}

nav {
  padding: 1.5rem;
  border-bottom: solid 1px #d9d9d9;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.App {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.task-board {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  max-height: 100vh;
  overflow: hidden;
  padding: 1.5rem;
}

.task-column {
  flex: 1;
  padding: 1rem;
  overflow: scroll;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.task-card {
  border: 1px solid #ccc;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.data-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.data-field strong {
  font-size: 0.875rem;
}

/* Task Details */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.task-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 96%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 20;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border: solid 1px #d9d9d9;
}

.task-details-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  border-bottom: solid 1px #d9d9d9;
  background-color: white;
  z-index: 21;
}

.task-details-header-name-status {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.close-button {
  background-color: white;
  border: 0px;
}

.task-details-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding-top: 4.5rem;
  overflow: hidden;
}

.task-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  border-right: solid 1px #d9d9d9;
  width: 30%;
  height: 100%;
  overflow-y: auto;
}

.task-info-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 4px;
}

.task-schedule {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  width: 70%;
  height: 100%;
  overflow-y: auto;
}

.task-schedule {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-schedule-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.task-schedule-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 4px;
}

.task-schedule-items .data-field {
  width: 100%;
}

.task-details-group-header {
  padding: 4px;
  background-color: #f5f5f5;
  font-weight: bold;
}

.task-logs {
  list-style-type: decimal;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 4px;
}

.status-chip {
  padding: 5px 10px;
  border-radius: 15px;
  display: inline-block;
  border: solid 1px #79747e;
  font-size: 0.875rem;
  font-weight: bold;
  color: #49454f;
}

.status-chip.to-do {
  background-color: #e6e6e6;
}

.status-chip.in-progress {
  background-color: #dff5ff;
}

.status-chip.completed {
  background-color: #ebffee;
}
